{% extends "base.html" %}

{% block title %}My Profile{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:profile_update" user_obj.pk %}">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:change_password" %}">Update Password</a>
    </li>
{% endblock %}
{% block content %}
    <div class="card flex-row mt-3">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" class="card-img-top w-25" alt="...">
        {% endif %}
        <div class="card-body ms-5">
            <h5 class="card-title">Username: {{ user_obj.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">GitHub: {{ user_obj.profile.github }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">About: {{ user_obj.profile.about }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Email: {{ user_obj.email }}</h6>
        </div>
    </div>
    {% include "partial/project_list.html" %}
{% endblock %}
