{% extends "base.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "create" %}">Create new Issue</a>
</li>
{% endblock %}


{% block content %}
    {% for iss in issues %}
<div class="list-group">
  <a href="{% url "issue_view" iss.pk %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ iss.summary }}</h5>
      <small>{{ iss.status }}</small>
    </div>
    <p class="mb-1">{{ iss.type }}</p>
  </a>
    {% endfor %}
</div>
{% endblock %}

