{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "project_view" issue.project.pk %}">Back to Project</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "update" issue.pk %}">Update Issue</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "delete" issue.pk %}">Delete Issue</a>
</li>
{% endblock %}

{% block content %}
<h4>Issue Details</h4>
    <dl class="row">
  <dt class="col-sm-3">Summary:</dt>
  <dd class="col-sm-9">{{ issue.summary }}</dd>
        <dt class="col-sm-3">Description:</dt>
  <dd class="col-sm-9">{{ issue.description }}</dd>
    <dt class="col-sm-3">Status:</dt>
  <dd class="col-sm-9">{{ issue.status }}</dd>
    <dt class="col-sm-3">Type:</dt>
        {% for t in issue.type.all %}
            <dd class="col-sm-9">{{ t.name }}</dd>
    {% endfor %}
    <dt class="col-sm-3">Belongs to Project:</dt>
  <dd class="col-sm-9">{{ issue.project.project_name }}</dd>

</dl>
{% endblock %}
