{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
        {% if user.is_superuser or perms.issueTracker.view_project and user in project.users.all %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "issueTracker:create" project.pk %}">Create new Issue</a>
        </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "issueTracker:project_update" project.pk %}">Update Project</a>
        </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "issueTracker:project_delete" project.pk %}">Delete Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "issueTracker:user_add" project.pk %}">Add/Delete User to Project</a>
        </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
<h4>Project Details</h4>
    <dl class="row">
  <dt class="col-sm-3">Project name:</dt>
  <dd class="col-sm-9">{{ project.project_name }}</dd>
        <dt class="col-sm-3">Project Description:</dt>
  <dd class="col-sm-9">{{ project.project_description }}</dd>
    <dt class="col-sm-3">Start date:</dt>
  <dd class="col-sm-9">{{ project.start_date }}</dd>
    <dt class="col-sm-3">End date:</dt>
            <dd class="col-sm-9">{{ project.end_date }}</dd>
    <dt class="col-sm-3">Project users:</dt>
    {% for u in project.users.all %}
        <span><dd class="col-sm-9">{{ u.username }}</dd></span>
    {% endfor %}
    <dt class="col-sm-3">Related issueTracker:issues:</dt>
        <br/>
    {% for iss in project.projects.all %}
<div class="list-group">
  <a href="{% url "issueTracker:issue_view" iss.pk %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ iss.summary }}</h5>
      <small>{{ iss.status }}</small>
    </div>
      {% for t in iss.type.all %}
        <p class="mb-1">{{ t.name }}</p>
          {% endfor %}
  </a>
    {% endfor %}
</div>
    {% if is_paginated %}
    {% include "partial/pagination.html" %}
    {% endif %}

</dl>
{% endblock %}
